<div class="container-fluid pt-3">

  <div class="card">
    <div class="card-body">
      <div [ngClass]="classDisplayed" class="d-flex flex-row">
        <img [ngClass]="imgMobileDisplayed" src="" alt="profile img">
        <div class="desc d-flex flex-column justify-content-start">
          <h2 class="mb-1">Nom prenom</h2>
          <label><em>Poste</em></label>

          <mat-list-item class="mb-3">
            <span style="color:green"><i class="far fa-check-circle"></i> xxx xxx xxx </span>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list>

            <mat-list-item>
             <i class="fas fa-birthday-cake mr-3"></i>: 15/02/1980
            </mat-list-item>

            <mat-list-item>
                <i class="fas fa-car mr-3"></i>: Permis voiture (B)
            </mat-list-item>

            <mat-list-item>
                <i class="fas fa-at mr-3"></i>: toto@gmail.fr
            </mat-list-item>

            <mat-list-item>
                <i class="fas fa-mobile-alt mr-3"></i>: 00 00 00 00 00
            </mat-list-item>

            <mat-list-item>
                <i class="fab fa-linkedin mr-3"></i>: <a class="ml-2" href=""> Linkeldin</a>
            </mat-list-item>


          </mat-list>

        </div>
      </div>


      <mat-divider></mat-divider>

      <div class="bio mt-2">
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum dui arcu, at fringilla tortor interdum a. Quisque dui neque, fringilla id orci ut, elementum varius lorem. Curabitur tincidunt arcu turpis, eu vulputate dolor commodo quis. Quisque ultricies dictum dui a vehicula. Morbi dui purus, varius quis efficitur a, aliquam nec purus. Nam bibendum neque dui, eget dapibus metus faucibus sed. Cras euismod arcu nec mattis condimentum. Nullam egestas pellentesque ligula. Suspendisse egestas porttitor eros maximus vulputate. Mauris porta eleifend felis, nec placerat libero semper vehicula.

            Pellentesque odio est, porttitor ultricies magna vitae, porta pulvinar sapien. Nulla dapibus risus sit amet ligula elementum ultrices. Aliquam sit amet nisl malesuada erat dapibus laoreet sed ut elit. Maecenas id aliquet mi, ac porta metus. Nullam feugiat ex elit, a venenatis odio porta at. Pellentesque consequat placerat rutrum. Curabitur sed eros porttitor nisi iaculis varius at a orci. Integer facilisis dolor lacus, sed pretium ante consectetur id. Nam vestibulum massa sem. Nulla risus nibh, luctus sed justo quis, tincidunt sagittis magna. Mauris in suscipit mi. Proin sit amet tempor ipsum. Phasellus eleifend lacinia pharetra. Quisque condimentum nulla volutpat velit facilisis porta.
        </p>
      </div>

    </div>
    <div class="card-footer">
      <a class="github-link" href="https://github.com/marco-studio73/mycv" target="_blank">
        <i class="fab fa-github-square fa-2x"></i>
      </a>

    </div>
  </div>


</div>
