img{
    width: 30%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 353px;
    margin-right: 15px;
}

mat-list-item-content{
    padding-left: 0
}

label{
    color: #fc6730;

}

.github-link{
    color:#000
}

span{
    padding: 5px 0 0 0
}

.desc{
    i{
        font-weight: bold
    }
}
