<button mat-raised-button class="m-3 add-skill" (click)="openDialogAddExp()"> Ajouter une expérience</button>

<div class="container-fluid pt-2">
    <mat-accordion *ngFor="let exp of experiencesList; let i = index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{exp.title}}
            </mat-panel-title>
            <mat-panel-description fxHide.xs>
              {{exp.poste}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="d-flex mb-1 align-items-center">
            <p> <i class="fa fa-calendar-alt mr-2" aria-hidden="true"></i> du {{ exp.beginDate | date: 'dd/MM/yyyy' }} au {{ exp.endDate | date: 'dd/MM/yyyy' }}</p>
          </div>

          <p fxHide.lg [innerHTML]="exp.content"></p>

          <button class="btn btn-sm bg-light mr-2" (click)="openDialogEditExp(exp, exp._id)">Editer</button>
          <button class="btn btn-sm bg-danger text-white" (click)="deleteExp(exp._id)">Supprimer</button>

        </mat-expansion-panel>

      </mat-accordion>
</div>
