<div class="container-fluid pt-2">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pentila
            </mat-panel-title>
            <mat-panel-description fxHide.xs>
              Developpeur front end - webdesigner
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p fxHide.lg>Developpeur front-end & webdesigner</p>
      
        </mat-expansion-panel>

      </mat-accordion>
</div>
