<mat-toolbar class="shadow">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon style="color:#fff">menu</mat-icon>
      </button>
  </div>
  <div class="d-flex align-items-center">
      <a routerLink="/home" color="secondary" class="mr-4">MON (NOUVEAU) CV</a>
      <button mat-raised-button color="primary"> Télécharger mon cv</button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
            <a routerLink="/profile">
                <img src="../../../assets/img/profil-img.jpg" alt="profil-img">
            </a>
          </li>
      </ul>
  </div>
</mat-toolbar>