a {
    text-decoration: none;
    color:#fff
}

mat-toolbar{
    background-color: rgb(255, 102, 0);
    position: fixed;
    z-index: 5;
    
}

a:hover, a:active{
    color: #fff;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

mat-toolbar{
    border-radius: 3px;
}

img{
    width: 50px;
    object-fit: cover;
    height: 50px;
    object-position: top;
    border-radius: 50%;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
