<button mat-raised-button class="m-3 add-skill" (click)="openDialogAddSkill()"> Ajouter une compétence</button>

<div class="container-fluid pt-2 d-flex flex-column"  >

  <mat-accordion *ngFor="let skill of skillsList; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{skill.title}}
          <label><em>{{skill.mode}}</em></label>
        </mat-panel-title>

        <mat-panel-description>
          <mat-progress-bar mode="determinate" value="{{skill.value}}"></mat-progress-bar>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>{{skill.content}}</p>

      <button class="btn btn-sm bg-danger text-white" (click)="deleteSkill(skill._id, i)">Supprimer</button>

    </mat-expansion-panel>

  </mat-accordion>



</div>
