/* You can add global styles to this file, and also import other style files */

$mainbgcolor: #fc6730;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: $mainbgcolor
}

mat-form-field.mat-form-field{
  display: initial
}

button.mat-raised-button{
  background-color: $mainbgcolor;
  color:#fff
}

.mat-progress-bar-fill::after{
  background-color: $mainbgcolor
}

.mat-content{
  align-items: center
} 

.mat-expansion-indicator.ng-tns-c22-3.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted::after{
  margin-top: -3px
}

.mat-expansion-indicator::after{
  margin-top: -6px
}
